DISCORD_TOKEN=your_discord_bot_token
CLIENT_ID=your_discord_client_id
CLIENT_SECRET=your_discord_client_secret
CALLBACK_URL=http://localhost:3000/auth/callback
SESSION_SECRET=random_secret_string_here
PORT=3000
BOT_PREFIX=!
